@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* reset all HTML elements to defult style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* seeting the font-family */

body {
    font-family: Roboto, sans-serif;
}

/* The header section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;    
}

/* The main element */
main {
    height: calc( 100vh - 70px);
    display: flex;
    background-color: #f9f9f9;

}

/* Hiding the side scroll on the side-bar */

.side-bar {
    right: 0%;
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: rgb(249, 237, 237);
    overflow-y: hidden;
    
}

/* Adding media queries for responsiveness */

@media (max-width: 768px) {
    .side-bar {
        display: none;
    }
}
.left #menu {
    padding: 0 7px;
    cursor: pointer;
   }

/* stylng the left section */

.left {
    display: flex;
    align-items: center;
}

img {
    width: 100px;
    height: auto;
}

/* stylng the search section */

.search {
    display: flex;
}

.search form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 20px 0 0 20px;
}

.search input {
    height: 100%;
    width: 500px;
    padding: 10px;
    border: 0;
    border-radius: 20px 0 0 20px
}

input:focus {
    outline: none;
    border: 1px solid #ddd;
}

.search button {
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 0 20px 20px 0;
}

.mic {
    margin-top: 10px;
}

.material-icons {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
}

.contents {
    position: relative;
    display: flex;
}

/* main video */

.center-vid {
    position: relative;
    left: 30%;
    width: 800px;
    height: 400px;

      }
.title {
    position: relative;
    left: 30%;
    margin-top: 10px;
}

    section {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 60px; 
        left: 30%;
        top: 10px;
    }

    /* Subcscription button */
    .lower{
        background-color: black;
        color: white;
        padding: 10px;
        font-weight: bold;
        border-radius: 20px;
        width: 100px;
        align-content: flex-start;
        cursor: pointer;
    }

    /* user profile and caption */

    .user-profile h4 {
        display: inline;
    }
    span {
        position: relative;
        display: block;
    }

    .lower-left {
    display: flex;
    align-items: center;
    border-radius: 20px;
    
}

.lower-left button {
    border: none;
    padding: 5px;
}

.lower-left .up {
    border-radius: 20px 0 0 20px;
}
.lower-left .down{
    border-radius: 0 20px 20px 0;
}

.share-button button {
    display: flex;
    align-items: start;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
}

.recommend-video {
    position: relative;
    display: flex;
    margin: 20px 10px 20px 0;
    cursor: pointer;
  }
  
  .recommend-video-title {
    position: relative;
    display: block;
    font-weight: bold;
  }
  
  .video-info-recommend {
    position: relative;
    display: block;
    margin: 5px 0 0 5px;
  }
  
  span .creator-name {
    display: block;
    line-height: 80%;
  }

  .views {
    position: relative;
    height: 100px;
    background-color: bisque;
    left: 30%;
    border-radius: 20px;
  }
  
  h5 {
    position: relative;
    left: 10px;
    top: 20px;
    cursor: pointer;

  }